# ignore vs code configs
.vscode
.VSCodeCounter

# ignore pycharm files
.idea*

# ignore python cache files 
.pytest_cache
.mypy_cache

# data 
.data

# ignore MAC os files
.DS_Store*

#ignore test coverage file
.coverage

# nvm I added figures now so I can 
# display the overview of datasets
# leaving it like that until I find a better way
# /figures/
