# ignore vs code configs
.vscode

# ignore MAC os files
.DS_Store*

#ignore test coverage file
.coverage

# I won't add the figures explicitely 
# however all of them are reproducable 
# by the python scripts provided in here
/figures/
